.error {
  width: calc(100% + 8px);
  margin: 0 -2px -2px -30px;
  padding: 5px 15px 10px 10px;
  background-color: #282c34;
  border-top: 17px solid #282c34;
  font-size: 14px;
  text-align: left;
}

.error-notice {
  margin-bottom: 10px;
  color: #dc4f4b;
}

.warnings-notice {
  margin-bottom: 10px;
  color: #e4e000;
}

.possible-error-notice {
  margin-bottom: 10px;
  color: #ff7834;
}

.success-notice {
  margin-bottom: 10px;
  color: rgb(113, 255, 52);
}
