.styled-code {
  margin: 0 50px 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  -webkit-box-shadow: 4px 4px 8px 0px #fdfdfd1f;
  -moz-box-shadow: 4px 4px 8px 0px #fdfdfd1f;
  box-shadow: 4px 4px 8px 0px #fdfdfd1f;
}
